
<h3>Server</h3>
<input type="text" [(ngModel)]="servername" (ngModelChange)="keyTyped()"/>

<button [disabled]="disabled" (click)="onAddnewServer()">Add new server</button>
<p *ngIf="serverCreated; else noServer">
  Server is created and the name is {{ Ssrvername }}
</p>

<ng-template #Noserver>
  <p>No server was created</p>
</ng-template>
<p [ngClass]="serverStatusClass()">
  Server:{{ servername }} with ID {{ serverId }} is
  <span [ngStyle]="getColor()">{{ serverStatus }}</span>
</p>
